html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}

body {
  background-color: #111;
}

/* draggable scroller */
.active-scroll {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
