---
import { client } from "../lib/contentful";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Post from "../components/Post.astro";
import "../styles/global.css";
import DragScroll from "../components/DragScroll.astro";

type Post = {
  id: number;
  title: string;
  image: {
    url: string;
  };
  sys: {
    id: number;
  };
};

const posts = await client.getAllBlogPosts();
const portfolio = await client.getAllPortfolioPosts();
---

<Layout title="lukes-code">
  <Header transition:persist />
  <h2 class="text-base text-center text-white px-2">
    A blog built with Astro, Contentful, and TailwindCSS
  </h2>
  <section class="ml-8 sm:md-4 mt-16">
    <h5 class="text-2xl font-bold text-white mx-4">Posts</h5>
    <DragScroll>
      {
        posts.map((post: Post, key: number) => (
          <Post key={key} post={post} page="posts" />
        ))
      }
    </DragScroll>
  </section>
  <section class="ml-8 sm:md-4 mt-16">
    <h5 class="text-2xl font-bold text-white mx-4">Portfolio</h5>
    <DragScroll>
      {
        portfolio.map((portfolio: Post, key: number) => (
          <Post key={key} post={portfolio} page="portfolio" />
        ))
      }
    </DragScroll>
  </section>
</Layout>
