<div
  class="items py-16 w-full overflow-x-scroll overflow-y-hidden whitespace-nowrap select-none cursor-pointer transition-all delay-1 transform scale-[0.98] will-change-transform flex gap-x-8"
>
  <slot />
</div>

<script>
  const slider = document.querySelector(".items") as HTMLElement;
  if (slider) {
    let isDown = false;
    let startX: number;
    let scrollLeft: number;

    slider.addEventListener("mousedown", (e: MouseEvent) => {
      isDown = true;
      slider.classList.add("active-scroll");
      startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });

    slider.addEventListener("mouseleave", () => {
      isDown = false;
      slider.classList.remove("active");
    });

    slider.addEventListener("mouseup", () => {
      isDown = false;
      slider.classList.remove("active");
    });

    slider.addEventListener("mousemove", (e: MouseEvent) => {
      if (isDown) {
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3;
        slider.scrollLeft = scrollLeft - walk;
      }
    });
  }
</script>
