<nav>
  <div class="py-6 w-full px-10">
    <div class="flex-shrink-0">
      <a href="/" class="gradient text-2xl font-bold rounded-[999px] py-1 px-3"
        >L</a
      >
    </div>
  </div>
  <div class="px-8">
    <hr />
  </div>
</nav>
