---
const { title } = Astro.props;
---

<h1
  class="ease-1 text-7xl sm:text-[100px] md:text-[150px] lg:text-[200px] font-bold font-title tracking-tight text-center text-white px-2"
  transition:animate="slide"
>
  {title}
</h1>
<div class="px-8">
  <hr />
</div>
