---
const { title } = Astro.props;
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col h-screen" transition:animate="none">
    <main class="flex-grow">
      <slot />
    </main>
  </body>
</html>
